html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13pt;
}

body {
  background-color: #5f7a96;
}

/* most cols need a default width of 3 characters; this class is used by default on each th */
.min-width-3 {
  min-width: 3ch;
}

/* money columns need 5 characters - '$' followed by up to 4 digits */
.min-width-5 {
  min-width: 5ch;
}

/* longest name seems to be 12 */
.min-width-12 {
  min-width: 12ch;
}

.table-container {
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 1.0rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  display: inline-block;
}

.table-header {
  padding: 8px;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: sticky;
  top: 0;
}

.heading-selectlist-info-container {
  font-size: 1.6rem;
  font-weight: bold;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.fixed-column-0 {
  min-width: 40px;
}

.align-right {
  text-align: right;
}

.stats-table {
  table-layout: fixed;
  padding: 0px; /* do not make padding more than 0 or sticky header names */
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  border: 0px;
}

.first-place, .second-place, .third-place, .nth-place {
  position: relative;
  bottom: .25rem;
  right: 0;
  font-size: .75rem;
}

.first-place::after {
  content: "st";
}

.second-place::after {
  content: "nd";
}

.third-place::after {
  content: "rd";
}

.nth-place::after {
  content: "th";
}

.stats-col-header {
  font-weight: bold;
  position: sticky;
  top: 64px; /* this value is adjusted to position it just under .table-header for desktop */
  background-color: #2f2d32;
  color: #fff;
  z-index: 1;
}

.stats-col {
  padding: 1rem;
  white-space: nowrap;
}

.sort-col-arrow::after, .sort-name-col-arrow::after {
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.sort-name-col-arrow::after {
  right: 7ch;
}

.sort-col-desc::after {
  content: " \25BC";
}

.sort-col-asc::after {
  content: " \25B2";
}

/* these classes for sort color could all be grouped together under one rule, but leaving here in case we want to reimplment "best/worst" arrow colors */
/* they once had different color arrows to visually indicate if the column was currently sorted with best on top or worst on top */

.sort-col-color {
  color: gold;
}

.sort-col-arrow::after, .sort-name-col-arrow::after {
  color: gold;
}

.best-at-top::after {
  color: gold;
}

.best-at-bottom::after {
  color: gold;
}

.odd {
}

.even {
  background-color: #eee;
}

#info-icon {
  display: inline-block;
  color:rgb(221, 221, 221);
  font-size: 1.5rem;
  cursor: pointer;
}

#info-text {
  display: none;
  position: absolute;
  background-color: #d3d3d3;
  margin-left: 3px;
  color: #000;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: .9rem;
  font-weight: lighter;
  z-index: 1;
}

#report-select {
  display: inline-block;
  font-family: "Georgia", "Times New Roman", Times, serif;
  margin: 10px;
  background-color: #2f2d32;
  color:rgb(255, 255, 255);
  padding-right: 10px;
  padding-left: 5px;
}

@media screen and (max-width: 600px) {

  /* TODO: move info icon somewhere else */
  /* TODO: give columns a mobile display name */
  /* TODO: investigate align-undefined being set as a class */

  body {
    margin: 0;
  }
  
  /* controls all table text  */
  .table-container {
    max-width: 100%;
    overflow-x: scroll;
    font-size: .8rem;
    position: fixed;
    left: 0;
    /* whatever offset we use for top, table needs to be 100% - that% for height */
    top: 0;
    height: 100%;
    border: 0;
    border-radius: 0;
  }

  .stats-col {
    padding: .5rem;
  }

  .stats-table {
    position: sticky;
  }

  .table-header {
    left: 0;
    min-height: 76px;
    position: sticky;
    top: 0;
    width: 100%;
  }

  /* controls size of page heading and select control; set to .9rem to deal with iPhone SE screen */
  .heading-selectlist-info-container {
    font-size: .95rem;
  }

  #info-icon {
    font-size: 1rem;
  }

  #info-text {
    right: 10px;
    top: 52px;
    margin-left: 3px;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: .6rem;
    font-weight: lighter;
    z-index: 2;
  }

  .fixed-column {
    position: sticky;
    left: 0;
    z-index: 1;
  }
  
  .fixed-column-0 {
    left: 0;
    min-width: 24px;
  }
  
  .fixed-column-1 {
    /* prevents the "Name" column from overlapping the "#" column */
    left: 35px;
  }

  .stats-col-header {
    top: 0; /* this value is adjusted to position it just under .table-header for mobile */
  }
  
  #p-columns .fixed-column {
    z-index: 2; /* Ensure headers are above the rest of the cells */
  }

  /* # (rank) cells note that "even" actually means "odd rank number" */
  tr.even > :nth-child(1) {
    background-color: #eee;
  }
  
  tr.odd > :nth-child(1) {
    background-color: #fff;
  }
  
  /* player name cells note that "even" actually means "odd rank number" */
  tr.even > :nth-child(2) {
    background-color: #eee;
    border-right: 1px solid #e3e3e3;
  }
  
  tr.odd > :nth-child(2) {
    background-color: #fff;
    border-right: 1px solid #e3e3e3;
  }

  #p-columns > :nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 2;
  }

  #p-columns > :nth-child(2) {
    position: sticky;
    /* prevents the "Name" column from overlapping the "#" column */
    left: 33px;
    z-index: 2;
    border-right: 1px solid #e3e3e3;
  }

  .stats-col::after {
    font-size: .6rem;
    right: -2px;
  }

  .sort-name-col-arrow::after {
    right: 12px;
  }

  .first-place, .second-place, .third-place, .nth-place {
    bottom: .25rem;
    right: 0;
    font-size: .5rem;
  }

}