html {
  font-family: Arial;
  font-size: 10pt;
}

a {
  color: rgb(22, 225, 113);
  text-decoration: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #5f7a96;
}

.infoTable {
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 1.0rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  display: inline-block;
}

.tableHeader {
  padding: 8px;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: sticky;
  top: 0;
}

.eventname {
  font-size: 1.6rem;
  font-weight: bold;
}

.description {
  font-weight: bold;
}

.statsTable {
  padding: 8px;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  border: 0px;
}

.statsColumnHeader {
  font-weight: bold;
  position: sticky;
  top: 79.5px; /* TODO: this value is adjusted to position it just under .tableHeader for desktop */
  background-color: #fff;
}

.statsColumn {
  padding: 5px 5px;
  white-space: nowrap;
}

.odd {
}

.even {
  background-color: #eee;
}

.last-updated {
  display: inline-block;
  color:rgb(221, 221, 221);
  font-size: 9pt;
}

#report-select {
  display: inline-block;
  margin: 10px;
  background-color: #292c2a;
  color:rgb(22, 225, 113);
  padding-right: 10px;
  padding-left: 5px;
}