html {
  font-family: Arial;
  font-size: 12pt;
}

a {
  color: rgb(22, 225, 113);
  text-decoration: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #5f7a96;
}

.infoTable {
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 1.0rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  display: inline-block;
}

.tableHeader {
  padding: 8px;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: sticky;
  top: 0;
}

.eventname {
  font-size: 1.6rem;
  font-weight: bold;
}

.description {
  font-weight: bold;
}

.statsTable {
  padding: 0px; /* do not make padding more than 0 or sticky header names */
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  border: 0px;
}

.statsColumnHeader {
  font-weight: bold;
  position: sticky;
  top: 64px; /* TODO: this value is adjusted to position it just under .tableHeader for desktop */
  background-color: #fff;
}

.statsColumn {
  padding: 1rem;
  white-space: nowrap;
}

.odd {
}

.even {
  background-color: #eee;
}

#info-icon {
  display: inline-block;
  color:rgb(221, 221, 221);
  font-size: 1.5rem;
  cursor: pointer;
}

#info-text {
  display: none;
  position: absolute;
  background-color: #d3d3d3;
  margin-left: 3px;
  color: #000;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: .9rem;
  font-weight: lighter;
  z-index: 1;
}

#report-select {
  display: inline-block;
  margin: 10px;
  background-color: #292c2a;
  color:rgb(22, 225, 113);
  padding-right: 10px;
  padding-left: 5px;
}

@media screen and (max-width: 600px) {

  /* TODO: keep columns names and event name stuck to top of browser on mobile */
  /* TODO: move info icon somewhere else */
  /* TODO: give columns a mobile display name */
  /* TODO: investigate align-undefined being set as a class */

  body {
    margin: 0;
  }
  
  /* controls all table text  */
  .infoTable {
    max-width: 100%;
    overflow-x: scroll;
    font-size: .75rem;
  }

  .statsColumn {
    padding: .5rem;
  }

  .tableHeader {
    left: 0;
    min-height: 61px;
  }

  /* controls size of page heading and select control; set to .9rem to deal with iPhone SE screen */
  .eventname {
    font-size: 0.9rem;
  }

  #info-icon {
    font-size: 1rem;
  }

  #info-text {
    right: 10px;
    top: 44px;
    margin-left: 3px;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: .6rem;
    font-weight: lighter;
    z-index: 2;
  }

  .fixed-column {
    position: sticky;
    left: 0;
    z-index: 1;
  }
  
  .fixed-column-0 {
    left: 0;
  }
  
  .fixed-column-1 {
    /* prevents the "Name" column from overlapping the "#" column */
    left: 28px;
  }
  
  #pColumns .fixed-column {
    z-index: 2; /* Ensure headers are above the rest of the cells */
  }

  /* # (rank) cells note that "even" actually means "odd rank number" */
  tr.even > :nth-child(1) {
    background-color: #eee;
  }
  
  tr.odd > :nth-child(1) {
    background-color: #fff;
  }
  
  /* player name cells note that "even" actually means "odd rank number" */
  tr.even > :nth-child(2) {
    background-color: #eee;
    border-right: 1px solid #e3e3e3;
  }
  
  tr.odd > :nth-child(2) {
    background-color: #fff;
    border-right: 1px solid #e3e3e3;
  }

  #pColumns > :nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 2;
  }

  #pColumns > :nth-child(2) {
    position: sticky;
    /* prevents the "Name" column from overlapping the "#" column */
    left: 28px;
    z-index: 2;
    border-right: 1px solid #e3e3e3;
  }
}